.ticket {
  padding-left: 20px;
}
h5 {
  margin-bottom: 10px;
  color: #2980b9;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.ticket p {
  margin-bottom: 0;

  font-size: 14px;
}

.user-category {
  display: flex;

  margin-top: 5px !important;
  font-size: 10px;
  line-height: 10px;
  color: #8e8e8e !important;
}
.user-category p {
  margin-right: 10px;
}
.user-category p,
.user-category i {
  font-size: 10px;
  color: #8e8e8e !important;
}
/* #popover-positioned-left {
  width: 50% !important;
} */
.popover {
  max-width: 650px !important;
}
.popover-body ul {
  list-style: none;
}
.popover-body ul li {
  cursor: pointer;
  margin-left: 20px;
}
/* @media (max-width: 580px) {
  .ticket-list table thead {
    display: none;
  }
  .ticket-list table td {
    display: block;
  }
}
 */
