.ticket {
  padding-left: 20px;
}
h5 {
  color: #2980b9;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  cursor: pointer;
}

p {
  margin-right: 10px;
  font-size: 14px;
}
.user-category {
  display: flex;

  font-size: 10px;
  line-height: 10px;
  color: #8e8e8e !important;
}

.user-category p,
.user-category i {
  font-size: 10px;
  color: #8e8e8e !important;
}
.hide {
  display: none;
  font-weight: bold;
  font-size: 16px;
  margin-right: 10px;
}
@media only screen and (max-width: 760px) {
  #hide span.hide {
    display: inline !important;
  }
}

.popover {
  max-width: 650px !important;
}
.popover-body ul {
  list-style: none;
}
.popover-body ul li {
  cursor: pointer;
  margin-left: 20px;
}
