.ticket {
  padding-left: 20px;
}
.ticket h5 {
  margin-bottom: 0;
  color: #2980b9;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.ticket p {
  margin-bottom: 0;
  margin-right: 10px;
  font-size: 14px;
}
.user-category {
  display: flex;

  font-size: 10px;
  line-height: 10px;
  color: #8e8e8e !important;

  border-bottom: 1px dotted #dadbdd;
}

.user-category p,
.user-category i {
  font-size: 10px;
  color: #8e8e8e !important;

  border-bottom: 1px dotted #dadbdd;
}
#popover-positioned-left {
  width: 50% !important;
}
.popover {
  max-width: 650px !important;
}
.popover-body ul {
  list-style: none;
}
.popover-body ul li {
  cursor: pointer;
}
