.status{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #8e8e8e;
}
.status .status-icon img{
    width: 20px;
    
}