.ticket-categories {
  background: #fdfcfd;
  border-radius: 5px;
  box-shadow: 0 1px 12px -2px rgb(0 0 0 / 15%);
  margin-bottom: 25px;
}
.ticket-categories-title {
  background: #4c5b6b;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 11px 12px;
  margin-bottom: 12px;
  font-size: 11px;
  color: #fff;
}
.ticket-categories-title p {
  margin-bottom: 0;
}

.category {
  display: flex;
  justify-content: space-between;
  padding: 0 12px;
  font-size: 12px;
}
.category p {
  color: #212529;
}
ul {
  padding: 0;
}
