.hide {
  display: none;
  font-weight: bold;
  font-size: 16px;
  margin-right: 10px;
}
@media only screen and (max-width: 760px) {
  #hide span.hide {
    display: inline !important;
  }
}
.manage-user i.fa-trash.fas {
  color: white;
}
