#sidebar {
  background: #3c4b64;
  grid-area: sidebar;
  overflow-y: auto;
  padding: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.sidebar__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f3f4f6;
  margin-bottom: 30px;
  /* color: #E85B6B; */
}

.sidebar__img {
  display: flex;
  align-items: center;
}

.sidebar__title > div > img {
  width: 180px;
  object-fit: contain;
}

.sidebar__title > div > h1 {
  font-size: 18px;
  display: inline;
}

.sidebar__title > i {
  font-size: 18px;
  display: none;
}

.sidebar__menu > h2 {
  color: #b1b7c1;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 5px;
  padding: 0 10px;
  font-weight: 700;
}

.sidebar__link {
  display: flex;
  color: #5e5f61;
  padding: 5px;
  border-radius: 3px;
  /* margin-bottom: 5px; */
}
.sidebar__link p {
  margin: 0;
}

.active_menu_link {
  background: #47546b;
  color: #b1b7c1;
  border-radius: 3px;
  padding: 5px;
}

.active_menu_link a {
  color: #b1b7c1 !important;
}
.active_menu_link a:hover {
  color: #ffffff !important;
}

.sidebar__link > a {
  text-decoration: none;
  color: #b1b7c1;
  font-weight: 700;
}
.sidebar__link a:hover {
  color: #ffffff !important;
}
.sidebar__link > i {
  margin-right: 10px;
  font-size: 18px;
}

.sidebar__logout {
  margin-top: 20px;
  padding: 10px;
  color: #9e898b;
}

.sidebar__logout > a {
  text-decoration: none;
  color: #9e898b;
  font-weight: 700;
  text-transform: uppercase;
}
.sidebar__logout > a:hover {
  color: white;
}
.sidebar__logout > i {
  margin-right: 10px;
  font-size: 18px;
}

.sidebar_responsive {
  display: inline !important;
  z-index: 9999 !important;
  left: 0 !important;
  position: absolute;
}

@media only screen and (max-width: 978px) {
  #sidebar {
    display: none;
  }

  .sidebar__title > i {
    display: inline;
  }
}
@media only screen and (max-width: 978px) {
  #sidebar .only-mobile {
    display: inline !important;
  }
}
