.middle-header{
    display: flex;
    margin-left: 30px;
    color: #c7d4e2;
    align-items: center;
}
.middle-header  a{
    color: #c7d4e2;
    text-decoration: none;
}
.middle-header  a:hover{
    color: #fff;
    text-decoration: none;

}
.middle-header i{
    padding-right: 8px;
}
.new-ticket-btn{
    background:#6f9a43 ;
    border-radius: 3px;
    margin-right: 20px;
    font-size: 12px;
    height: 26px;
    line-height: 26px;
   padding: 0 10px;
   vertical-align: middle;
   
   
}
.new-ticket-btn .nav-link{
   /*  padding: 0 !important; */
}
.left-newTicket-search {
    padding-right: 30px;
   /*  padding-bottom: 8px; */
    display: flex;
}
 #search-input{
    position: relative;
    height:26px  ;
    font-size: 11px ;
     padding-left: 38px;
     width: 200px;
     line-height: 26px;
     border: none;
     background: #ffffff11;
     box-shadow: none;
/*     background-color: #ffffff11;
    height: 26px;
    line-height: 26px;
    height: 26px;
    line-height: 26px;
    width: 200px;
    border: none;
    background: #ffffff11;
    color: #a9a9a9;
    font-size: 11px;
    padding: 0;
   
    margin-right: 0; */
    
}
#search-input:focus{
    background: #000;
}
.search .btn{
    position: absolute;
    z-index: 2;
    border: none;
    height:  26px;
    /* display: flex;
    align-items: center; */
    padding: 0;
    padding-left: 10px;
    color: #a9a9a9; 
    font-size: 11px ;
    

   
    /* display: block;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    border: none;
    padding-right: 10px; */
}
.search .btn:hover{
    background: none;
} 

/* ::placeholder{
    padding-left: 26px;
} */
/* .search-input{
    height: 26px;
    line-height: 26px;
    width: 200px;
    border: none;
    background: #ffffff11;
    color: #a9a9a9;
    font-size: 11px;
    padding: 0;
    padding-left: 28px;
    margin-right: 0;
}
 */
/* 
.search input{
    background-color: inherit;
    border: none;
    color: #a9a9a9;
    height: 26px;
    line-height: 26px;
} */