.top-header {
  padding: 17px 30px;
  padding-top: 17px;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}
.logo a {
  text-decoration: none;
}
.logo a:hover {
  text-decoration: none;
  color: white;
}
.logo .logo-title {
  color: rgba(252, 249, 249, 0.808);
  font-size: 27px;
  font-weight: bold;
}
.logo .logo-title:hover {
  color: white;
}
.user-info .loged-user-info button {
  color: #bbb;
  font-size: 12px;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.2);
  padding: 0 6px;
  border: 1px solid rgba(0, 4, 8, 0.1);
  box-shadow: none;
  height: 22px;
}
