.navbar {
  background: #ffffff;
  grid-area: nav;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  border-bottom: 1px solid lightgray;
  /*  width: 100%; */
}

.nav_icon {
  display: none;
}

.nav_icon > i {
  font-size: 26px;
  color: #a5aaad;
}

.navbar__left > a {
  display: inline;
  margin-right: 10px;
  text-decoration: none;
  color: #a5aaad;
  font-size: 15px;
  font-weight: 700;
}
.navbar__left > a:hover {
  color: #202020;
}

.navbar__left .active {
  color: #34a4ba;
  border-bottom: 3px solid #34a4ba;
  padding-bottom: 12px;
}

.navbar__right {
  display: flex;
  /*  justify-content: center;
  align-items: center; */
}

.navbar__right > a {
  margin-left: 20px;
  text-decoration: none;
}

.navbar__right > a > i {
  color: #a5aaad;
  font-size: 16px;
  border-radius: 50px;
  background: #ffffff;
  box-shadow: 2px 2px 5px #d9d9d9, -2px -2px 5px #ffffff;
  padding: 7px;
}
nav .loged-user-info button {
  color: #5e5b5b;
  font-size: 12px;
  font-weight: bold;
  background: #00000033 !important;
  padding: 0 6px;
  border: 1px solid rgba(0, 4, 8, 0.1);
  box-shadow: none;
  border: none;
  height: 22px;
}
nav .loged-user-info button:hover {
  color: #5e5b5b;
}
/* nav .loged-user-info button:active {
  color: #5e5b5b !important;
} */
nav .loged-user-info button:focus {
  box-shadow: none !important;
  border: none;
  color: #5e5b5b !important;
}

#search-input {
  position: relative;
  height: 26px;
  font-size: 11px;
  padding-left: 38px;
  width: 200px;
  line-height: 26px;
  border: none;
  background: #f1eeee11;
  box-shadow: none;
  color: rgb(12, 11, 11);
}
#search-input:focus {
  background: rgb(236, 232, 232);
}
.search .btn {
  position: absolute;
  z-index: 2;
  border: none;
  height: 26px;

  padding: 0;
  padding-left: 10px;
  color: #a9a9a9;
  font-size: 11px;
}

.search .btn:hover {
  background: none;
}
.search .btn:focus,
.search .btn:active {
  background: none !important;
  border: none !important;
  box-shadow: none;
}

@media only screen and (max-width: 978px) {
  .nav_icon {
    display: inline;
  }
}

@media only screen and (max-width: 1180px) {
  .navbar__left {
    display: none;
  }
}
@media only screen and (max-width: 1180px) {
  /*  .navbar {
    flex-wrap: nowrap !important;
  } */
  .navbar__right {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
  }
}
@media only screen and (max-width: 820px) {
  .navbar {
    height: 80px;
  }
}
