.ticket-detail {
  background: #e4e3e5;
  height: 100%;
}
.ticket-detail > .row {
  padding: 64px;
}
.ticket-detail-content {
  background: #fafafa;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.conversation {
  margin: 0 0 20px 0px !important;
}
.conversation-avatar {
  padding: 0 !important;
}
.conversation-avatar img {
  height: 37px;
  width: 37px;
  border-radius: 50%;
  object-fit: cover;
}
.conversation-me-msg,
.conversation-someoneelse-msg {
  background: #fafafa;
  border-radius: 5px;
  padding: 6px !important;
  position: relative;
}
.conversation p {
  margin-bottom: 0;
}
.conversation-me-msg::after {
  content: "";
  position: absolute;
  top: 9px;
  left: -6px;
  border-width: 7px 7px 7px 0;
  border-style: solid;
  border-color: transparent #fafafa;
}
.conversation-someoneelse-msg {
  background: #e4f8e0;
}
.ticket-detail-content-header {
  display: flex;
  margin-bottom: 20px;
}
.ticket-detail-content-header .btn {
  margin-right: 20px;
}
.ticket-detail-form-message.form-control {
  font-size: 16px !important;
}
.ticket-detail-status {
  background: #fafafa;
  border-radius: 5px;
  box-shadow: 0 1px 12px -2px rgb(0 0 0 / 15%);
}
.ticket-detail-status-header {
  background: #eaeced;
  margin-right: -15px;
  margin-left: -24px;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.ticket-detail-content-header .btn-reply,
.ticket-detail-content-header .btn-takeover {
  background: #3f8cc9;
  border: 1px solid #3f8cc9;
  height: 26px;
  font-size: 12px;
  display: flex;
  align-items: center;
}
.ticket-detail-content-header .btn-close {
  color: #717171;
  background: #eaeced;
  border: 1px solid #eaeced;
  height: 26px;
  font-size: 12px;
  display: flex;
  align-items: center;
}
.ticket-detail-content-header .btn-reply:hover,
.ticket-detail-content-header .btn-takeover:hover {
  background: #3777ab;
  border: 1px solid #3f8cc9;
}
.ticket-detail-content-header .btn-close:hover {
  background: #c8c9c9;
  border: 1px solid #c8c9c9;
  color: #717171;
}
.ticket-detail-content-text h5 {
  font-weight: bold;
}

.btn-reply.btn-primary {
  background: #3f8cc9;
  border: 1px solid #3f8cc9;
  height: 26px;
  font-size: 12px;
  display: flex;
  align-items: center;
}
.btn-reply.btn-primary:hover {
  background: #3777ab;
  border: 1px solid #3f8cc9;
}
.msg-sender {
  color: #2980b9;
}
.fa-trash {
  opacity: 0.5;
}
.fa-trash:hover {
  opacity: 1;
  color: red;
}

.msg-at {
  margin-left: auto;
  font-size: 12px;
}
/* .ticket-detail-status-content p,
.ticket-detail-status-content .form-label {
  font-size: 14px;
  padding-left: 10px;
}
.ticket-detail-status-content .form-control {
  width: 64px;
  height: 24px;
  padding: 0;
}
.ticket-detail-status-content .form-control.form-control-date {
  width: 164px;
  height: 24px;
  padding: 0;
}
.ticket-detail-status-content .btn {
  background: none;
  border: 1px solid #eaeced;
  color: #717171;
  background-color: #eaeced;
  width: 35px;
  height: 26px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ticket-detail-status-content .btn:hover {
  background-color: #c8c9c9;
  border: 1px solid #eaeced;
}
 */
