.ticket-list {
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}
/* @media (max-width: 580px) {
  .ticket-list table thead {
    display: none;
  }
  .ticket-list table td {
    display: block;
  }
}
 */
@media only screen and (max-width: 800px) {
  th.createdAt,
  th.updatedAt {
    display: none;
  }
}
