.register {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  /*  margin-top: 200px; */
}
.nav-register {
  height: 98px;
  background: #fff;
  width: 100%;
  padding-bottom: 10px;
  box-shadow: 0 0 15px -5px rgb(207, 206, 206);
}
.nav-register img {
  width: 180px;
  margin-left: 150px;
}
.register-container {
  margin-top: 50px;
  width: 400px;
  background: #fdfcfd;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px -5px rgb(207, 206, 206);
}

.register-container .have-account a {
  color: #0091ae !important;
  font-size: 16px;
  font-weight: 600;
}
.register .have-account-login {
  color: #0091ae;
}
.register label {
  margin-bottom: 0;
}
.register .show-password {
  display: block;
}
.register .show-password,
.register .forget-password {
  color: #0091ae;
  font-size: 12px;
  font-weight: 600;
}
.register .form-check {
  display: flex;
  align-items: center;
  margin-top: 14px;
}
.register .btn-create-account {
  width: 100%;
  background-color: #eaf1f6;
  color: black;
  border: none;
  margin-bottom: 20px;
}
.register .footer {
  height: 85px;
  background: #414c5d;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  padding-top: 20px;
  margin-top: 20px;
  color: white;
  font-weight: 600;
}
